@model IEnumerable<CiteApp_v1._2.Models.Employee>

@{
    ViewBag.Title = "Index";
}



    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EMP_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EMP_DateOfHire)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee2.EMP_Name)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EMP_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EMP_DateOfHire)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee2.EMP_Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.EMP_ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.EMP_ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.EMP_ID })
                </td>
            </tr>
        }

    </table>
