@model CiteApp_v1._2.Models.Attribute

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Attribute</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ATTR_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ATTR_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ATTR_Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ATTR_Value)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ATTR_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
